@import "../../common/variables.css";
@import "../../common/mixins.css";

:local {
  .logs {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
    background-color: $aluminum-2;
    @mixin shadow-container;

    h4 {
      margin: 5px;
      text-align: center;
    }

    .message-list {
      font-size: 12px;
      overflow: auto;
      height: 0;
      flex: 1;
    }
  }
}
