@import "../../common/variables.css";

:local {
  .coming-soon {
    display: flex;
    flex-direction: column;
    background-color: $aluminum-2;

    .columns {
      display: flex;
      justify-content: space-around;
    }
  }
}
