@import "../common/variables.css";

:local {
  .topBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $purple-1;
    color: $aluminum-3;

    .left {
      font-family: 'Monaco', monospace;
    }

    a {
      text-decoration: none;
      color: $aluminum-3;
    }
  }
}
