@import "../common/variables.css";

:global {
  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $aluminum-1;
    color: $steel-3;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;

    & > #root {
      height: 100%;

      & > div {
        height: 100%;
      }
    }

    h3 {
      text-align: center;
      color: $orange-1;
    }

    * {
      box-sizing: border-box;
    }
  }
}

:local {
  .layout {
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
    }
  }
}
