:global {
  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;

    & > #root {
      height: 100%;

      & > div {
        height: 100%;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

:local {
  .layout {
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
    }
  }
}
