@import "../../common/variables.css";
@import "../../common/mixins.css";

:local {
  .buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 20%;
    background-color: $aluminum-2;
    @mixin shadow-container;

    .content {
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
    }
  }
}
