@import "../../../common/variables.css";
@import "../../../common/mixins.css";

:local {
  .button {
    .player {
      text-align: center;
    }
  }

  .taken {
    .player {
      font-style: italic;
      font-weight: bold;
    }
  }
}
