@import "../../../common/variables.css";
@import "../../../common/mixins.css";

:local {
  .position {
    flex: 1;
  }

  .snake {
    background-color: green;
  }

  .food {
    background-color: yellow;
  }

  .border {
    background-color: $aluminum-5;
  }
}
