:local {
  .create {
    display: flex;
    flex-direction: column;

    .form {
      display: flex;
      flex-direction: column;
      align-self: center;
      min-width: 300px;

      .form-row {
        display: flex;
        justify-content: space-between;

        .input {
          min-width: 170px;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
