/* Colors */
$purple-1: #2e2447; /* topbar background */

$orange-1: #eb5c34; /* titles */
$orange-2: #ff5252; /* titles */

$green-1: #03a87c; /* text */
$green-2: #3fbfad; /* text */
$green-3: #3eb8a7; /* text */

$grey-1: #a9a9a9; /* text */
$grey-2: #737373; /* text */
$grey-4: #f5f5f5; /* text */

$brown-1: #d9d5d2; /* text */

$steel-1: #6b6c6d;
$steel-2: #58595a;
$steel-3: #3a3b3c;
$steel-4: #262728;
$steel-5: #121314;

$aluminum-1: #f9fafb;
$aluminum-2: #f4f5f6;
$aluminum-3: #e8e9ea;
$aluminum-4: #cacbcc;
$aluminum-5: #989a9b;
