:local {
  .room {
    display: flex;
    flex-direction: column;

    .main {
      display: flex;
      justify-content: space-between;

      .center {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
