@import "../common/variables.css";

:local {
  .room {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;

    .main {
      display: flex;
      justify-content: space-between;
      height: 80%;

      .center {
        display: flex;
        flex-direction: column;
        width: 60%;
      }
    }
  }
}
