:local {
  .join {
    display: flex;
    flex-direction: column;

    .form {
      display: flex;
      flex-direction: column;
      align-self: center;

      .form-row {
        display: flex;
        justify-content: space-between;
      }

      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
